{%extends "layout.html"%}


{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mathgorithm</h1>
                    <span class="subheading">Where Equations Shape Innovation</span>
                </div>
            </div>
        </div>
    </div>

</header><!-- Category Filter (Optional) -->
<div class="container px-4 px-lg-5">
    <form method="GET" action="/" class="mb-4">
        <label for="category">Filter by Category:</label>
        <select name="category" id="category" onchange="this.form.submit()">
            <option value="">Select Categories</option>
            <option value="All">All</option>
            <option value="Technology">Technology</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Data Science">Data Science</option>
            <option value="Artificial Intelligence">Artificial Intelligence</option>
            <option value="Cyber Security">Cyber Security</option>
            <option value="Fin-Tech">Fin-Tech</option>
            <option value="Others">Others...</option>
        </select>
    </form>
</div>



<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="/login"><h2>Create a New Post</h2></a>
            
            <div style="margin-bottom: 10px;"></div>
            <hr>

            

            {% for post in posts %}

                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ url_for('post_route', post_slug=post.slug) }}">
                        <h2 class="post-title">{{ post.title}}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by {{ post.author}} on {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}
                    </p>
                    <p><strong>Category:</strong> {{ post.category }}</p>
                    {{ post.content[0:30] }}
                </div>
                <!-- Divider-->
                <hr class="my-4" />

            {% endfor %}
            
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                    →</a></div>
        </div>
    </div>
</div>

{% endblock %}