{%extends "layout.html"%}


{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <h1>Manage Users</h1>
            <hr>

            <table class="table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for user in users %}

                  <tr>
                    <td>{{ user.user_name }}</td>
                    <td><a href="{{ url_for('dashboard', action='remove_user', username=user.user_name) }}"> <button class="btn btn-primary">Remove</button> </a></td>
                  </tr>
                  
                {% endfor %}

                </tbody>
              </table>

        </div>
    </div>
</div>




{% endblock %}